<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="ConstructorBased_DI_TextEditor" class="com.DepedenceInject.ConstructorBased_DI_TextEditor">
        <constructor-arg ref="ConstructorBased_DI_SpellChecker"/>
    </bean>

    <bean id="ConstructorBased_DI_SpellChecker" class="com.DepedenceInject.ConstructorBased_DI_SpellChecker">
    </bean>
    
    <bean id="SetterBased_DI_TextEditor" class="com.DepedenceInject.SetterBased_DI_TextEditor">
        <property name="setterBased_di_spellChecker" ref="SetterBased_DI_SpellChecker"/>
    </bean>
    
    <bean id="SetterBased_DI_SpellChecker" class="com.DepedenceInject.SetterBased_DI_SpellChecker"></bean>
</beans>